.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 505px;
    box-shadow: 0 0 80px rgba(0,0,0,0.5);
    border: 1px solid;
    perspective: 700px;
}
.button{
  background: #dd4343;
  cursor: pointer;
  width:100px;
  padding: 8px;
  color:white;
  margin: 20px;
  border-radius: 3px;
}
