<!--The content below is only a placeholder and can be replaced.-->
<div class="buttons">
  <button (click)="useOnPush=!useOnPush">{{useOnPush?'OnPush':'Default'}}</button>
  <button (click)="showChangeDetection=!showChangeDetection">{{showChangeDetection?'Hide changes':'Show changes'}}</button>
  <button (click)="openDay(3)">open day 3</button>
</div>

<div class="container">
  <ng-container *ngIf="useOnPush;else default">
    <app-calendar-item-onpush *ngFor="let day of days" [open]="day.open" [index]="day.index" [displayChange]="showChangeDetection" (click)="day.open = !day.open"
      class="cd-tracked"></app-calendar-item-onpush>
  </ng-container>
  <ng-template #default>
    <app-calendar-item-default *ngFor="let day of days" [open]="day.open" [index]="day.index" [displayChange]="showChangeDetection" (click)="day.open = !day.open"
      class="cd-tracked"></app-calendar-item-default>
  </ng-template>
</div>
